*{
    margin: 0;
}

a{
    color: white;
}

/* Header  */
header ul{
    list-style-type: none;
    display: flex;
    background-color: rgb(76, 73, 73);

}

header li{
    margin: 0 auto;

}

.articles, .contact{
    padding-top: 2%;
    color: white;
}


.logo {
    padding: 0;
}

header img{
    width: 10%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}
/* FIN Header */


/* Accueil */
.image-accueil img{
    width: 20%;

}

.image-accueil{
    margin-left: 35%;
    padding-top: 5%;
    display: flex;
}

p{
     text-align: center;
 }
/* FIN Accueil */


footer img{
    width: 10%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

footer{
    background-color: #323030;
    margin-top: 30%;
}


/* CSS Articles */
.container img{
    width: 100%;
    padding: 2%;
    height: auto;
}

.container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.block{
    width: 33%;
    padding: 10px;
}

