*{
    margin: 0;
}

a{
    color: white;
}

/* Header  */
header ul{
    list-style-type: none;
    display: flex;
    background-color: rgb(76, 73, 73);
    padding-left: 25%;
}

header li{
    padding-left: 10%;

}

.articles{
    padding-top: 2%;
    color: white;
}

.logo {
}

header img{
    width: 15%;
}
/* FIN Header */


/* Accueil */
.image-accueil img{
    width: 20%;
}

.image-accueil{
    margin-left: 35%;
    padding-top: 5%;
}

p{
     text-align: center;
 }
/* FIN Accueil */


footer img{
    width: 10%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

footer{
    background-color: #323030;
    margin-top: 10%;
}


/* CSS Articles */
.container img{
    width: 100%;
    padding: 2%;
    height: auto;
}

.container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.block{
    width: 33%;
    padding: 10px;
}

