{% include 'header.html.twig' %}

<div class="image-accueil">
    <img src="https://s30.wheelsage.org/format/picture/picture-preview-large/lamborghini/logotypes/autowp.ru_lamborghini_logo_5.jpg">
    <p>Lamborghini</p>
    <img src="https://s30.wheelsage.org/format/picture/picture-preview-large/lamborghini/logotypes/autowp.ru_lamborghini_logo_5.jpg">
    <p>Lamborghini</p>
</div>

<p>
    lorem ipsum dolor irmat noisette chocolat pistache, celui qui rit pleure,
    <br>quand il pète il trou son slip mais qu'avec une 300ch dans la rondelle.
</p>


{% include 'footer.html.twig' %}