{% include 'header.html.twig' %}

<div class="img-articles">
{% for article in articles %}
    <div class="col">
        <img src=" {{ article.image }}">
        <p class="legende"> {{ article.title }}</p>
    </div>
{% endfor %}
</div>

{% include 'footer.html.twig' %}
