<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>header</title>

    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>

<body>
    <header>
        <ul>
            <li class="articles"><a href="#">Articles</a></li>
            <li class="logo"><img src="https://banner2.cleanpng.com/20180825/llw/kisspng-lamborghini-logo-brand-fellow-agp-motorsport-5b80de31bf5a22.1504908715351721457838.jpg"></li>
        </ul>
    </header>